[submodule "nix-darwin"]
	path = nix-darwin
	url = git://github.com/LnL7/nix-darwin.git
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/rycee/home-manager
[submodule "nixpkgs-unstable"]
	path = nixpkgs-unstable
	url = https://github.com/nixos/nixpkgs.git
[submodule "nixpkgs-stable"]
	path = nixpkgs-stable
	url = https://github.com/nixos/nixpkgs.git
